{% extends 'home.html' %}

{% block content %}

{% load humanize %}

<div class="text-xl text-center mt-5 mb-5 font-extrabold">คำสั่งซื้อ</div>

<div class=" flex-col gap-2 justify-start max-w-6xl mx-auto">
    <h1 class="ml-2 mr-2" style="font-family: 'K2D', sans-serif;"><i class="fa-solid fa-list"></i>&nbsp;รายละเอียดคำสั่งซื้อ</h1>
</div>

<div class="max-w-6xl mx-auto">
    <div class="overflow-y-hidden rounded-lg border mb-5 m-2 text-center">
        <div class="overflow-x-auto">
            <table class="w-full">
                <thead>
                    <tr class="bg-[#3b3b3b] text-left text-xs text-center font-semibold uppercase tracking-widest text-white">
                        <th class="px-5 py-3">Order</th>
                        <th class="px-5 py-3">ลูกค้า</th>
                        <th class="px-5 py-3">รายการ</th>
                        <th class="px-5 py-3">ราคา</th>
                        <th class="px-5 py-3">โต๊ะ</th>
                        <th class="w-40 py-3">state</th>
                    </tr>
                </thead>
                <tbody class="text-gray-500">
                    {% if orders %}
                    {% for order in orders %}
    
                    <tr>
                        
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <a href="{% url 'update_order' order.id %}">
                
                            <p class="">{{order.id}}</p></a>
                        </td>
                    

                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <a href="{% url 'update_order' order.id %}">
                            <p class="">{{ order.user }} {{ order.user.first_name }} {{ order.user.last_name }}</p>
                        </a>
                        </td>
    
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <a href="{% url 'update_order' order.id %}">
                            <p class="">{{order.items}}</p></a>
                        </td>

                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <a href="{% url 'update_order' order.id %}">
                            <span
                                class="rounded-full bg-green-200 px-3 py-1 text-xs font-semibold text-green-900">{{order.total_price}}</span>
                            </a>
                        </td>

                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <p class="whitespace-no-wrap">{{order.number_of_seats}}</p>
                        </td>


                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <span
                                class="rounded-full bg-green-200 w-40 py-1 text-xs font-semibold text-green-900">{% if order.is_paid == True %}
                                เสร็จสิ้น
                                {% elif order.is_canceled == True %}
                                ยกเลิกแล้ว
                                {% else %}
                                กำลังดำเนินการ
                                {% endif %}</span>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                            <p class="whitespace-no-wrap">ไม่มีรายการ</p>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    
    </div>
    </div>


<div class=" flex-col gap-2 justify-start max-w-6xl mx-auto mb-10">
    <h1 class="text-lg font-semibold mt-5 ml-2 mr-2" style="font-family: K2D,sans-serif;"><i
            class="fa-solid fa-file-invoice-dollar"></i>&nbsp;ราคารวมทั้งหมด: {{ total|floatformat:2 }} บาท
    </h1>
</div>




{% endblock %}