{% extends 'home.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load humanize %}

<div class="text-xl text-center mt-5 mb-5 font-extrabold">รายการสัตว์เลี้ยง</div>


<div class="max-w-4xl mx-auto">
<div class="overflow-y-hidden rounded-lg border mb-5 m-2">
    <div class="overflow-x-auto">
        <table class="w-full">
            <thead>
                <tr class="bg-[#3b3b3b] text-left text-xs font-semibold uppercase tracking-widest text-white">
                    <th class="px-5 py-3">เลขประจำตัว</th>
                    <th class="px-5 py-3">ชื่อ</th>
                    <th class="px-5 py-3">เพศ</th>
                    <th class="px-5 py-3">พันธ์ุ</th>
                    <th class="px-5 py-3">อายุ/ปี</th>
                    <th class="px-5 py-3">แก้ไข</th>
                    <th class="px-5 py-3">ลบ</th>
                </tr>
            </thead>
            <tbody class="text-gray-500">
                {% if pets %}
                {% for p in pets %}

                <tr>
                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <p class="whitespace-no-wrap">{{ p.id }}</p>
                    </td>
                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <a href="{% url 'pets' p.id %}">

                            <div class="flex items-center">
                                <div class="h-10 w-10 flex-shrink-0">
                                    <img class="h-full w-full rounded-full object-cover"
                                        src="{% if p.profile %} {{ p.profile.url }} {% else %}{% endif %}" alt="" />
                                </div>
                                <div class="ml-3">
                                    <p class="whitespace-no-wrap">{{p.name}}</p>
                                </div>
                            </div>
                        </a>

                    </td>

                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <p class="whitespace-no-wrap">{{p.sex}}</p>
                    </td>
                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <p class="whitespace-no-wrap">{{p.breed}}</p>
                    </td>

                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <span
                            class="rounded-full bg-green-200 px-3 py-1 text-xs font-semibold text-green-900">{{p.age}}</span>
                    </td>

                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <a href="{% url 'update_pets' p.id %}">
                            <span class="px-3 py-1 text-xs font-semibold text-green-900"><i
                                class="fa-solid fa-pen-to-square"></i></span>
                        </a>
                    </td>

                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <a href="{% url 'delete_pets' p.id %}">
                            <span class="px-3 py-1 text-xs font-semibold text-green-900"><i
                                class="fa-solid fa-trash-can"></i></span>
                        </a>
                    </td>

                </tr>
                {% endfor %}

                {% else %}
                <tr>
                    <td class="border-b border-gray-200 bg-white px-5 py-5 text-sm">
                        <p class="whitespace-no-wrap">ไม่มีสัตว์เลี้ยง</p>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

</div>
</div>

<div class="m-2 mb-28 mx-auto text-center">
    <div class="">
        <a href="{% url 'add_pets' %}"
            class="text-white bg-[#7e6663] hover:bg-white hover:text-black hover:border-2 font-medium rounded-lg text-sm py-2 px-5 mx-auto">เพิ่มสัตว์เลี้ยง</a>
    </div>
</div>

{% endblock %}